@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');


body {
    margin: 0;
    top: 0;
    box-sizing: border-box;
}

header {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px); */

    background: rgba(255, 255, 255, 0.849);
    position: sticky;
    top: 0;
    transition: 0.3s;
    padding: 30px 0;
    z-index: 5;
}



.logo img {
    height: 80px;
    margin-left: 50px;
    margin-top: 15px;
}

.nav-bar {
    list-style: none;
    position: relative;
    display: flex;
}

.nav-bar li {
    width: 150px;
    height: 15px;
}

a.nav-link {
    font-size: 1.3rem;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    transition: all .3s;
}

.active {
    background: #A63539;
}

.nav-link:hover {
    color: #A63539;
}

/*hamburguer*/
.hamburger {
    display: none;
}

.hamburger div {
    width: 30px;
    height: 3px;
    background: #303030;
    margin: 5px;
    transition: all 0.3s ease;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.login_signup {
    width: 150px;
    height: 40px;
    padding: 5px;
    background: #A63539;
    color: #fff;
    border-radius: 7px;
    border: 0;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-style: 600;
    font-size: 1.0rem;
    margin-right: 5%;
}

.login_signup:hover {
    background-color: #FBB6B6;
    transition: all .3s;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    height: 60vh;
}

.container {
    width: 1440px;
    display: flex;
    flex-wrap: wrap;
}

.coluna1,
.coluna2 {
    text-align: center;
    flex: 1;
    padding: 50px;
    font-size: 1.2rem;
}

.intro {
    max-width: 360px;
}

.intro p {
    font-size: 3rem;
    text-align: right;
}

.intro p:nth-last-of-type(2) {
    text-align: left;
}

.intro span {
    color: #A63539;
}

.intro_text p {
    line-height: 1.5;
    max-width: 550px;
    text-align: left;
    padding: 20px 0;
}


.video_sangue {
    height: 50vh;
    color: #fff;
    background-color: #000;
}

/* ESTILIZAÇÕES FEITAS POR BRIAN (INÍCIO)*/
.icon_model {
    justify-content: end;
    display: flex;
}

.icon_line_right {
    width: 200px;
    height: 12px;
    background-color: #A63539;
	transform: skew(20deg);
}

aside {
    height: 170vh;
    background-color: #f3f3f3;
    flex: 1;
    padding: 20px;
    padding-left: 60px;
}

aside #camp_title {
    font-family: 'Ovo';
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 12.8px;
    color: #be8f90;
    text-align: end;
    margin-top: 40px;
}

aside .pointer {
    width: 14px;
    height: 12px;
    background-color: #a63539;
    border: 2px solid #fff;
    margin-top: -29px;

}

.camp_area {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 80px;
}

.camp_publi {

    text-align: center;
    margin: 0 auto 50px auto;
}

.form_date {
    width: 143px;
    height: 36px;
    border-radius: 6px;
    background-color: #a63539;
    margin-bottom: 15px;
}

.form_date_text {
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 2.88px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 8px;

}

.camp_publi_title {
    width: 600px;
    color: #6E7781;
    text-align: justify;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 15px;
}

.camp_publi_subtitle {
    width: 600px;
    color: #a0a0a0;
    text-align: justify;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: 121%;
    /* 24.2px */
    letter-spacing: 3.6px;
    margin-top: 10px;
}

.icon_area {
    display: flex;
    width: 600px;
}

.fb-icon {
    width: 200px;
    text-align: center;
    margin-top: 30px;
}

.camp_img img {
    box-shadow: 0px 15px 30px #a0a0a0;
}

.camp_img img:hover {
    box-shadow: 0px 30px 50px #a0a0a0;
    transition: 0.5s;
}

/* ESTILIZAÇÕES FEITAS POR BRIAN (FIM)*/




/* ESTILIZAÇÕES DA SECTION 3 POR RANAN */





/* ESTILIZAÇÕES DA SECTION 3 POR RANAN */

/* ESTILIZAÇÃO FOOTER POR MATEUS - INÍCIO */

footer {
    background-color: #A63539;
    font-family: "Inter", sans-serif;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50vh;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: auto;
}

footer ul {
    list-style: none;
    padding: 0;
}

.footer-link {
    text-decoration: none;
    color: inherit;
    padding: 2px;
}

.titulo-rodape {
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 1.8px;
    font-size: 1.125rem;
    text-align: left;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    padding-left: 100px;
}

.secoes-rodape {
   list-style-type: none;
   padding-right: 50px;
}

.itens-lista {
    color: #fff;
    padding-top: 15px;
    letter-spacing: 1.8px;
    font-size: 1.125rem;
    text-align: left;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    padding-left: 100px;
    margin-top: 20px;
}

#siga-nos {
    color: #fff;
    letter-spacing: 1.8px;
    font-size: 1.125rem;
    text-align: left;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    padding-left: 100px;
}

#rodape {
    display: flex;
}

.titulo-rodape {
    padding-bottom: 20px;
    
}

.itens-imagem .titulo-rodape {
    padding-bottom: 30px;
    padding-left: 10px;
}

.logo-redes {
    display: inline;
}

.logo-redes:not(:last-child) {
    margin-right: 20px;
}

.logo-redes :hover {
    transform: scale(1.06);
    transition: 0.4s;
}

.itens-lista:hover {
    transform: scale(1.03);
    transition: 0.4s;
}

.logo-redes img {
    width: 34px;
    height: 34px;
}

/* FIM DA ESTILIZAÇÃO DO FOOTER */


/*--------------------------------ÁREA DE RESPONSIVIDADE ----------------------------- */
/*nav media*/
@media only screen and (max-width: 768px) {

    main {
        height: 100vh;
    }

    .nav-show {
        backdrop-filter: blur(75px);
        -webkit-backdrop-filter: blur(75px);
        opacity: 1;
    }

    header {
        justify-content: center;
    }

    .nav-bar {
        position: fixed;
        top: 0px;
        right: 0;

        width: 60%;
        height: 100vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);

        background: rgba(255, 255, 255, 0.083);
        /* rgba(46, 46, 46, 0.777); */

        transform: translatex(100%);
        transition: transform 0.5s ease-in;
        z-index: 1;
    }

    .hamburger {
        position: absolute;
        top: 15px;
        right: 5%;
        display: block;
        cursor: pointer;
        z-index: 5;
    }

    .nav-bar li {
        opacity: 1;
    }


    .container {
        flex-direction: column;
    }

    .coluna1,
    .coluna2 {
        flex: none;
        width: 100%;
    }
}

.nav-active {
    transform: translatex(0%);
}



/* Estilos para telas maiores (por exemplo, tablets e desktops) */


/* Estilos para telas menores (por exemplo, dispositivos móveis) */
@media (max-width: 767px) {}

