section.containerProjeto {
    background-color: #F3F3F3;
    padding: 100px 0 160px 0;
}

.projeto_title {
    display: flex;

}

.projeto_title h1 {
    color: #BE8F90;
    font-family: 'Ovo', serif;
    font-size: 80px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0.06em;
    margin-left: 40px;

}

.logo_section1 {
    display: flex;
    align-items: center;
}

.logo_section1 img {
    width: 250px;
    height: 150px;
    margin-left: 50px;
}

div.botaoPraCima {
    background: rgb(134, 134, 134);
    border:  solid rgb(134, 134, 134);
    border-radius: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    right: 100px;
    top: 1650px;
}

div.botaoPraCima:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 10px #A63539;
    padding: 2px;
}

.conteudo-projeto {
    background-color: #fff;
    width: 1034px;
    height: 50%;
    padding: 30px 50px 30px 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
    border-radius: 5px;
    margin-right: 2%;
}

.conteudo-projeto>p {
    color: #767676;
    text-align: justify;
    font-family: Lora;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.5%; /* 45.78px */
    letter-spacing: 1.5px;

}
